<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shopbookeeping"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/book_blue"
        android:label=" Bookkeeping "
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.shopbookeeping.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.shopbookeeping.ProviderActivity" >
        </activity>
        <activity
            android:name="com.example.shopbookeeping.NameExpensesActivity" >
        </activity>
        <activity
            android:name="com.example.shopbookeeping.ActivePaymentsActivity">
        </activity>
        <activity
            android:name="com.example.shopbookeeping.PaymentByProviderActivity">
        </activity>
        <activity
            android:name="com.example.shopbookeeping.ShowPaymentActivity"
            android:theme="@style/CustomDialog" >
        </activity>
        <activity
            android:name="com.example.shopbookeeping.ShowExpenseActivity"
            android:theme="@style/CustomDialog" >
        </activity>
        <activity
            android:name="com.example.shopbookeeping.ExpenseByNameActivity" >
        </activity>
        <activity
            android:name="com.example.shopbookeeping.PaymentsExpensesByDayActivity" >
        </activity>
        <activity
            android:name="com.example.shopbookeeping.SettingsActivity" >
        </activity>
    </application>

</manifest>
